---
- name: Creates directory
  file:
    path: /usr/share/nginx/html/phpmyadmin
    state: directory
    mode: 0755

- name: Download and unpack PMA
  ansible.builtin.unarchive:
    src: https://www.phpmyadmin.net/downloads/phpMyAdmin-latest-all-languages.tar.gz
    dest: /usr/share/nginx/html/phpmyadmin
    remote_src: yes
    extra_opts: [--strip-components=1]

- name: get db hostname via aws cli
  command: aws rds describe-db-instances --region eu-central-1 --query DBInstances[0].Endpoint.Address
  register: db_hostname
  
- name: Create PMA config from j2 template
  template:
    src: config.inc.php.j2
    dest: /usr/share/nginx/html/phpmyadmin/config.inc.php